//= require normalize
//= require solarized-light

$serif-font: "Lora", Cambria, Georgia, serif;
$mono-font: "Inconsolata", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$sans-font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$text-color: #555;
$link-color: #06c;
$meta-color: #999;
$heading-color: #111;
$brand-color: #ee6650;
$border-color: #ddd;

$break-width: 640px;

html {
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 300 18px/1.5 $serif-font;
  color: $text-color;
  margin: 3em 0;
}

.container {
  width: $break-width;
  margin: 0 auto;
  text-align: left;

  @media (max-width: $break-width) {
    width: 90%;
  }
}

#header {
  border-bottom: 1px solid $border-color;

  h1 {
    font-weight: 600;

    @media (max-width: $break-width) {
      text-align: center;
    }

    a {
      display: inline-block;
      border-bottom: none;

      color: #fff;
      background-color: $brand-color;

      padding: 0.5em;
      line-height: 1;
    }
  }
}

a, a:link, a:active, a:hover {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $border-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-color;
  margin-bottom: 0;
}

section {
  margin-bottom: 2em;
}

/* about section */
#about {
  overflow: hidden;

  img {
    float: right;
    margin-left: 1em;
    shape-outside: image-url("me.png");
  }
}

time {
  color: $meta-color;
  font-style: italic;
}

/* articles index */
#articles {
  ol {
    list-style: disc;

    > li {
      margin-bottom: 0.5em;

      p {
        display: inline;
      }
    }
  }
}

/* individual article */
article {
  header {
    p {
      margin-top: 0;
      font-size: 1.2em;
    }
  }

  img {
    max-width: 100%;
  }

  pre {
    padding: 1em;
    font: 0.8em/1.4 $mono-font;
  }
}
