---
title: "Freddy Kelly"
---
<section id="articles">
  <h2>Articles</h2>
  <ol>
    <% page_articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
        <p>Published <%= show_date article.date %></p>
      </li>
    <% end %>
  </ol>
</section>

<section id="about" itemscope itemtype="http://data-vocabulary.org/Person">
  <h2><span itemprop="nickname">Fred</span> Who?</h2>
  <%= image_tag "me.png", width: 200, itemprop: "photo" %>
  <p>My name is <span itemprop="name">Freddy Kelly</span> and I'm a <a href="https://www.linkedin.com/in/freddykelly" target="_blank" itemprop="url" rel="me">British <span itemprop="title">Software Engineer<span></a> working in <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">San Francisco</span>, <span itemprop="region">CA</span></span>. This (rarely updated) website serves to document my failed attempt at running a blog. If you want to hear what I'm up to then why not <a href="//twitter.com/fredkelly">follow me on Twitter</a> or <a href="mailto:me@fredkelly.net">email me</a>.</p>
  <h3>Elsewhere&hellip;</h3>
  <ul>
    <li><a href="https://twitter.com/fredkelly" rel="me">Twitter</a></li>
    <li><a href="https://github.com/fredkelly" rel="me">GitHub</a></li>
    <li><a href="https://dribbble.com/fredkelly" rel="me">Dribbble</a></li>
    <li><a href="https://angel.co/fredkelly" rel="me">AngelList</a></li>
  </ul>
</section>
